body, html {
  height: 100%
}

// parallax

.parallax {
  background-image: url('../img/neiltyson.jpg');
  @include parallax-details;
}

.parallax2 {
  background-image: url('../img/galaxy.jpg');
  @include parallax-details;
}

//quote in parallax

.quote {
  font-size: 25px;
  text-align: center;
  border: 2px solid;
  @include border-color($tertiary-color);
  background-image: linear-gradient(to bottom, $primary-color, $secondary-color, $tertiary-color);
}

// png image

.transition {
  top: 20%;
  left: 5%;
  height: 100%;
  width: 100%;
  transform: translateY(-25%);
  margin: 0 auto;
  position: absolute;

  @include tablet-breakpoint {
    left: 15%;
    width: 70%;
    }

  @include desktop-breakpoint {
    left: 25%;
    width: 50%;
  }
}
