body, html {
  height: 100%
}
// parallax

.parallax {
  background-image: url('../img/neiltyson.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax2 {
  background-image: url('../img/galaxy.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

//quote in parallax
.quote {
  font-size: 25px;
  text-align: center;
  background-color: $primary-color;
}

// png image

.transition {
  top: 20%;
  left: 5%;
  height: 100%;
  width: 100%;
  transform: translateY(-25%);
  margin: 0 auto;
  position: absolute;

  @include tablet-breakpoint {

    }
}
