
@mixin tablet-breakpoint {
  @media #{$tablet-breakpoint} {
    @content;
  }
}

@mixin desktop-breakpoint {
  @media #{$desktop-breakpoint} {
    @content;
  }
}

@mixin book-setting {
  height: 20%;
  background-color: $accent-grey;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.4);
}
