.books {
  @include grid-column(12);
  background-color: $secondary-color;
  width: 100%;
  margin: 0;
}

.first-book {
  @include grid-column(12);
  @include book-setting;


  .image-div {
    height: 200px;
    background-image: url('../img/astrophysics.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .text-div {
    background-color: white;
  }

  @include tablet-breakpoint {
    @include grid-column(6);
  }

  @include desktop-breakpoint {
    @include grid-column(3);
  }
}

.second-book {
  @include grid-column(12);
  @include book-setting;

  .image-div {
    height: 200px;
    background-image: url('../img/welcome.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .text-div {
    background-color: white;
  }

  @include tablet-breakpoint {
    @include grid-column(6);
  }

  @include desktop-breakpoint {
    @include grid-column(3);
  }
}

.third-book {
  @include grid-column(12);
  @include book-setting;

  .image-div {
    height: 200px;
    background-image: url('../img/spacechronicles.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .text-div {
    background-color: white;
  }

  @include tablet-breakpoint {
    @include grid-column(6);
  }

  @include desktop-breakpoint {
    @include grid-column(3);
  }
}

.fourth-book {
  @include grid-column(12);
  @include book-setting;

  .image-div {
    height: 200px;
    background-image: url('../img/origins.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .text-div {
    background-color: white;
  }

  @include tablet-breakpoint {
    @include grid-column(6);
  }

  @include desktop-breakpoint {
    @include grid-column(3);
  }
}
