.books {
  @include grid-column(12);
  background-color: $secondary-color;
  width: 100%;
  margin: 0;
}

.first-book {
  @include grid-column(12);
  @include book-setting;


  .image-div {
    height: 200px;
    background-image: url('../img/origins.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .text-div {
    background-color: white;
  }
}

.second-book {
  @include grid-column(12);
  @include book-setting;

  .image-div {
    height: 200px;
    background-image: url('../img/deathbyblackhole.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .text-div {
    background-color: white;
  }
}

.third-book {
  @include grid-column(12);
  @include book-setting;

  .image-div {
    height: 200px;
    background-image: url('../img/spacechronicles.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .text-div {
    background-color: white;
  }
}

.fourth-book {
  @include grid-column(12);
  @include book-setting;

  .image-div {
    height: 200px;
    background-image: url('../img/skyisnotthelimit.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .text-div {
    background-color: white;
  }
}
